fastapi==0.116.1
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
passlib~=1.7.4
pydantic~=2.11.7
pydantic-settings~=2.10.1
pydantic[email]==2.11.7
alembic==1.16.5
psycopg2-binary==2.9.10
python-jose==3.5.0
python-multipart==0.0.20
bcrypt==3.2.2